#datasheets
*
/*

!*.bat
!*.cmd
!*.txt
!*.log

!*.htm
!*.html

!*.jpg
!*.png
!*.gif

!*.pdf
!*.djvu

!*.doc
!*.docx

!Stab_design_1_2.exe

#I don't know what is it.
!*.m7p

!_INFO__AUDIO__Руководство.rar
!Some_Chifr_Info.rar

!*.gitignore
